<!DOCTYPE html>
<html lang="en">
    <head>
        <% include layouts/head %>
        <title>Stream For All Of You</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <a class="navbar-brand" href="/">OnlineCinema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><%= name %></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

            <!-- Movie -->
            <img id="video" class="col-12 col-md-8">
            <!-- Chat -->
            <div class="d-flex flex-row-reverse">
                <div class="chatbox"> 
                    <div class="chatlogs"></div>
                    <div class="chat-form">
                        <input type="text" id="chat-input" placeholder="Say something nice" autocomplete="off"/>
                        <button id="button">Send</button>
                        <img id="voice-chat" class="rounded-circle" src="/images/voice.png"></img>
                    </div>
                </div>
            </div>

        <script type="text/javascript" src="/javascripts/livestream-user.js"></script>
        <% include layouts/foot %>
        <script type="text/javascript" src="/javascripts/livestream.js"></script>
    </body>
</html>