<!DOCTYPE html>
<html lang="en">
    <head>
        <% include layouts/head %>
        <title>You're The Master</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">OnlineCinema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <a class="nav-link" id="modalBtn" href="#">user</a>
                            <div id="simpleModal" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>Participant</h2>
                                    <span class="closeBtn">&times;</span>
                                    </div>
                                    <p>Hello I am a Modal</p>
                                </div>
                            </div>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><%= name %></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>

            <!-- Movie -->
            <video controls="controls" class="col-12 col-md-8" src="/movie/<%= film %>.mp4" id="video" autoplay="true"></video>
            <canvas id="preview" style="display: none;"></canvas>

            <!-- Chat -->
            <div class="d-flex flex-row-reverse">
                <div class="chatbox">    
                    <div class="chatlogs" id="messages"></div>
                    <div class="chat-form">
                        <input type="text" id="chat-input" placeholder="Say something nice" autocomplete="off"/>
                        <button id="button">Send</button>
                    </div>
                </div>
            </div>
        
            <!-- Change Movie -->
            <div class="dropdown show dropdown-film col-12 col-md-8">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Film</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/livestreaming/joker">Joker</a>
                    <a class="dropdown-item" href="/livestreaming/schematics">Schematics</a>
                    <a class="dropdown-item" href="/livestreaming/avenger-endgame">Avenger Endgame</a>
                </div>
            </div>

            <!-- Modal User -->
            <!-- <button id="modalBtn" class="button">Click Here</button>

            <div id="simpleModal" class="modal">
                    <div class="modal-content">
                        <span class="closeBtn">&times;</span>
                        <p>Hello I am a Modal</p>
                    </div>
                </div> -->

        <script type="text/javascript">

        </script>
        <% include layouts/foot %>
        <script type="text/javascript" src="/javascripts/livestream-master.js"></script>
        <script type="text/javascript" src="/javascripts/livestream.js"></script>
    </body>
</html>