<!DOCTYPE html>
<html lang="en">
    <head>
        <% include layouts/head %>
        <title>Welcome</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <a class="navbar-brand" href="/">OnlineCinema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- Foto Profil -->
        <div class="container jumbotron3 jumbotron-fluid">
            <div class="row">
                <div class="col-12 col-md-8">
                        <h1 class="display-4">WELCOME ROOM MASTER</h1>
                        <div class="dropdown show dropdown-film">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select A Film</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/livestreaming/joker">Joker</a>
                                <a class="dropdown-item" href="/livestreaming/schematics">Schematics</a>
                                <a class="dropdown-item" href="/livestreaming/avenger-endgame">Avenger Endgame</a>
                            </div>
                        </div>
                        <a class="btn-secondary btn-update btn show" href="/logout" role="button">Logout</a>
                </div>
                <div class="col-12 col-md-3 thumbnail-name">
                    <img src="/images/profile/bear.jpg" alt="Gak bisa oy" class="img-thumbnail">
                    <!-- <img src="img/<?=$res['gambar']?>" alt="img/default.png" class="img-thumbnail"> -->
                    <div class="hi">
                        <p> Hi <%= name %> </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
        <% include layouts/foot %>
    </body>
</html>