<!DOCTYPE html>
<html lang="en">
    <head>
        <% include layouts/head %>
        <title>Welcome</title>
    </head>

    <body class="background">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            <a class="navbar-brand" href="/">OnlineCinema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>

        <!-- Foto Profil -->
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="/images/profile/bear.jpg" alt="Gak bisa oy" class="img-thumbnail">
                    <!-- <img src="img/<?=$res['gambar']?>" alt="img/default.png" class="img-thumbnail"> -->
                    <div class="hi">
                        <p> Hi <%= name %> </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jumbotron -->
        <div class="jumbotron2 jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">WELCOME USER</h1>
                <p> <a href="/livestreaming-user" class="btn-join">Join</a> </p>
                <p> <a href="/logout" class="btn-logout">Logout</a> </p>
            </div>
        </div>
        <% include layouts/foot %>
    </body>
</html>